@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  min-height: 100vh;
  background-color: #e0f2fe; /* ya jo bhi color tum use kar rahe ho */
}